.mainlayout-section{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 4rem;
}

.header {
  background: var(--color-primary);
  color: var(--color-text-light);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px #00000040;
}

.logo {
  color: var(--color-accent);
}

.nav a {
  color: var(--color-text-light);
  text-decoration: none;
  margin-left: 1.5rem;
  font-weight: 500;
}

.nav a:hover {
  color: var(--color-accent);
}

.content {
  flex: 1;
  padding: 2rem;
}

.footer {
  width: 100vw;
  background: var(--color-primary-dark);
  position: fixed;
  color: var(--color-text-light);
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  bottom: 0px;
}
.nav-list_options {
  display: flex;
  flex-direction: row;
  gap:1.2rem;
}

.nav-list_options a{
  color: var(--color-text-light);
}

.nav-user_options {
  display: flex;
  gap: 1.2rem;
}
